body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #0E0A17;
}
ul {
  padding: 0px!important;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: #0E0A17;
  align-items: center;
}

main {
  width: 100%;
  float: left;
  position: relative;
  justify-content: center;
}

.mheader{
  margin: 0 auto;
  position: relative;
  width: 980px;
  display: flex;
  justify-content: center;
}

.logo{
  width: 90%;
  margin-bottom: 5px;
  align-items: center;
}
.logo img.lologo {
  float: left;
  height: 100px;
}

.icon{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img.github {
  height: 55px;
}

.mheader-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #323031;
  width: 100%;
  height: 60px;
}

.url-menu {
  border-bottom: 3px solid #ADA8B6;
  height: 60px;
}

.menu {
  display: inline-flex;
  width: 90%;
  width: 980px;
  justify-content: center;
  padding-top: 21px;
  margin-right: 80px;
}

.menu ul li {
  display: inline-block;
  margin-left: 30px;
  height: 42px;
}
.menu ul li:hover {
  border-bottom: 3px solid #A2FAA3;
}

.menu ul li a:hover {
  color: #A2FAA3;
  }

.menu ul li a {
  justify-content: center;
  color: #ADA8B6;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 5px;
}

.busca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 10%;
  padding-left: 100px;
  margin-top: 6px;
}

.busca input {
  background-image: url('../img/search-icon.png');
  background-repeat: no-repeat;
  height: 25px;
  width: 150px;
  margin-top: 5px;
  background-position: 92%;
  background-size: 20px;
  padding-left: 15px;
  border: 3px solid #84818A;
  }

.col-100 {
  width: 100%;
  float: left;
  position: relative;
  justify-content: center;
}

.intro {
  display: flex;
  position: relative;
  align-items: center;
  }

.slidecontainer {

  margin-top: 30px;
  width: 980px;
  height: 500px;
  background: #323031;
  border: 7px solid #323031;
}

.slide-show-img {
  margin-top: 30px;
  position: absolute;
  width: 980px;
  height: 500px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.bodyb {
  margin-top: 30px;
  display: flex;
  position: relative;
  align-items: center;

}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;

  border-radius: 5px;
  z-index: 20;
  background-color: #A2FAA3;
  width: 1000px;
  height: 515px;
  max width: 80%;
  align-items: center;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  height: 15px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.00rem;
  font-weight: bold;
  margin-left: 955px;

}
.modal-body {
  align-items: center;
  padding-right: 0px;
  padding-bottom: 10px;
}
.modal-body img {
  align-self: center;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 300ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0E0A17;
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.buttonscontainer {
  padding-left: 193.3px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  border-radius: 5px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #0E0A17;
  background-color: #A2FAA3;
  width: 100px;
  height: 50px;
  justify-content: center;
  display: inline-block;
  position: relative;
  margin-right: 193.33px;
}

.beatcontainer {
  display: inline-flex;
  position: relative;
  margin-left: 439px;
}

.chillbeat {
  margin-right: 395px;
  display: inline-block;
  position: relative;
  margin-top: 50px;

}
